.textarea-ol {
    display: flex;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    padding: 8px;
    height: 100px;
    overflow-y: scroll;
}

.textarea-ol:focus-within {
    box-shadow: 0 0 0 2px #18a0fb;
    border: 1px solid transparent;
}

.textarea {
    padding: 0 0 0 8px;
    border: 0;
    resize: none;
    outline: 0;
    flex: 1;
    font-size: 11px;
    line-height: 16px;
}

.textarea::placeholder {
    color: #a6a6a6;
}

.numbers {
    width: 14px;
    text-align: center;
    font-size: 11px;
    line-height: 16px;
    color: #a6a6a6;
}
